<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="79cb2df7-8f91-4480-ba40-cf183441aea6" >
		<http:listener-connection host="0.0.0.0" port="${secure::listener.http.port}"/>
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="28095dbe-b814-495e-882c-e3331fa4eb50" name="env" value="sandbox" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="a959214d-3b0f-4809-9125-6f423d2f2989" file="mulesoft-product-system-api-${env}.yaml" key="${masterKey}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="4a7a61ec-6f53-416d-ac7f-695a51949b68" name="masterKey" value="useme" />
	<configuration doc:name="Configuration" doc:id="0010fa23-32ac-4ccc-8da1-9b5af444cf25" defaultErrorHandler-ref="global-error-handlerError_Handler" />
	<configuration-properties doc:name="Configuration properties" doc:id="2f98704d-06b3-4656-a31c-eec33e482213" file="mulesoft-product-system-api-global.yaml"/>
	<file:config name="File_Config" doc:name="File Config" doc:id="593bb514-646a-4549-8ca1-7143f0ae38b3" >
		<file:connection workingDir="#[p('app.home') ++ &quot;/product-catalog-master&quot;]" />
	</file:config>
	<api-gateway:autodiscovery apiId="${secure::api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="77bbce5f-5824-4fd1-bbbf-90079ce410a9" flowRef="mulesoft-product-system-api-main" />
</mule>
